<div class="container">
  <h1 class="display-3 text-center">Name Game!</h1>
  <div class="row justify-content-center">
    <div class="col-sm-4 text-center">
      <h3>Correct Answers:</h3>
      <div class="score-container alert alert-success w-25 p-2">{{ numRight }}</div>
    </div>
    <div class="col-sm-4 text-center">
      <button *ngIf="answered"
              (click)="playStandardNameGame()"
              class="btn btn-primary mt-4">Press P or Click Here to Play Again</button>
      <button *ngIf="answered"
              (click)="playMattNameGame()"
              class="btn btn-primary mt-4">Press M or Click Here to Play Matt-only Version</button>
    </div>
    <div class="col-sm-4 text-center">
      <h3>Incorrect Answers:</h3>
      <div class="score-container alert alert-danger w-25 p-2">{{ numWrong }}</div>
    </div>
  </div>

  <h2 class="text-center">Who is {{ correctName }}?</h2>
  <div class="card-deck m-4 justify-content-center" *ngIf="!resetting">
    <app-profile-card *ngFor="let profile of fiveProfiles; let i = index"
                      [profile]=profile
                      [correctName]=correctName
                      [showName]=answered
                      [index]=i
                      (sendName)=checkName($event)></app-profile-card>
  </div>
  <div *ngIf="resetting">
    Loading...
  </div>
</div>
